<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>Google Play</title>
    <!-- Fontawesome -->
    <script
      src="https://kit.fontawesome.com/fad6e48f21.js"
      crossorigin="anonymous"
    ></script>

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap"
      rel="stylesheet"
    />

    <!-- CSS Stylesheets -->
    <link rel="stylesheet" href="/css/categories.css" />
  </head>
  <%- include('partials/search.ejs') %>
  <body>
    <!-- Listing Container 1 -->
    <div class="category-container first-container">
      <div class="title-header">
        <div class="heading-title">
          <h2 class="category-title">Top selling movies</h2>
        </div>
        <div class="see-more">
          <button class="see-more-btn" type="button" name="button">
            See more
          </button>
        </div>
      </div>

      <!-- Container Body -->
      <div class="listing-body">
        <!-- Card -->
        <div class="listing-card">
          <div class="listing-top"></div>
          <div class="listing-bottom">
            <a class="item-title">Monster Hunter</a>
            <p class="item-subtitle">Action & adventure</p>
            <div class="item-info">
              <div class="rating">
                <i class="star fas fa-star fa-xs"></i>
                <i class="star fas fa-star fa-xs"></i>
                <i class="star fas fa-star fa-xs"></i>
                <i class="star fas fa-star fa-xs"></i>
                <i class="star fas fa-star fa-xs"></i>
              </div>
              <div class="price">
                <p>LBP 6,000</p>
              </div>
            </div>
          </div>
        </div>
        <!-- Card -->
        <div class="listing-card">
          <div class="listing-top"></div>
          <div class="listing-bottom">
            <a class="item-title">Monster Hunter</a>
            <p class="item-subtitle">Action & adventure</p>
            <div class="item-info">
              <div class="rating">
                <i class="star fas fa-star fa-xs"></i>
                <i class="star fas fa-star fa-xs"></i>
                <i class="star fas fa-star fa-xs"></i>
                <i class="star fas fa-star fa-xs"></i>
                <i class="star fas fa-star fa-xs"></i>
              </div>
              <div class="price">
                <p>LBP 6,000</p>
              </div>
            </div>
          </div>
        </div>
        <!-- Card -->
        <div class="listing-card">
          <div class="listing-top"></div>
          <div class="listing-bottom">
            <a class="item-title">Monster Hunter</a>
            <p class="item-subtitle">Action & adventure</p>
            <div class="item-info">
              <div class="rating">
                <i class="star fas fa-star fa-xs"></i>
                <i class="star fas fa-star fa-xs"></i>
                <i class="star fas fa-star fa-xs"></i>
                <i class="star fas fa-star fa-xs"></i>
                <i class="star fas fa-star fa-xs"></i>
              </div>
              <div class="price">
                <p>LBP 6,000</p>
              </div>
            </div>
          </div>
        </div>
        <!-- Card -->
        <div class="listing-card">
          <div class="listing-top"></div>
          <div class="listing-bottom">
            <a class="item-title">Monster Hunter</a>
            <p class="item-subtitle">Action & adventure</p>
            <div class="item-info">
              <div class="rating">
                <i class="star fas fa-star fa-xs"></i>
                <i class="star fas fa-star fa-xs"></i>
                <i class="star fas fa-star fa-xs"></i>
                <i class="star fas fa-star fa-xs"></i>
                <i class="star fas fa-star fa-xs"></i>
              </div>
              <div class="price">
                <p>LBP 6,000</p>
              </div>
            </div>
          </div>
        </div>
        <!-- Card -->
        <div class="listing-card card-5">
          <div class="listing-top"></div>
          <div class="listing-bottom">
            <a class="item-title">Monster Hunter</a>
            <p class="item-subtitle">Action & adventure</p>
            <div class="item-info">
              <div class="rating">
                <i class="star fas fa-star fa-xs"></i>
                <i class="star fas fa-star fa-xs"></i>
                <i class="star fas fa-star fa-xs"></i>
                <i class="star fas fa-star fa-xs"></i>
                <i class="star fas fa-star fa-xs"></i>
              </div>
              <div class="price">
                <p>LBP 6,000</p>
              </div>
            </div>
          </div>
        </div>
        <!-- Card -->
        <div class="listing-card card-6">
          <div class="listing-top"></div>
          <div class="listing-bottom">
            <a class="item-title">Monster Hunter</a>
            <p class="item-subtitle">Action & adventure</p>
            <div class="item-info">
              <div class="rating">
                <i class="star fas fa-star fa-xs"></i>
                <i class="star fas fa-star fa-xs"></i>
                <i class="star fas fa-star fa-xs"></i>
                <i class="star fas fa-star fa-xs"></i>
                <i class="star fas fa-star fa-xs"></i>
              </div>
              <div class="price">
                <p>LBP 6,000</p>
              </div>
            </div>
          </div>
        </div>
        <!-- Card -->
        <div class="listing-card card-7">
          <div class="listing-top"></div>
          <div class="listing-bottom">
            <a class="item-title">Monster Hunter</a>
            <p class="item-subtitle">Action & adventure</p>
            <div class="item-info">
              <div class="rating">
                <i class="star fas fa-star fa-xs"></i>
                <i class="star fas fa-star fa-xs"></i>
                <i class="star fas fa-star fa-xs"></i>
                <i class="star fas fa-star fa-xs"></i>
                <i class="star fas fa-star fa-xs"></i>
              </div>
              <div class="price">
                <p>LBP 6,000</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Listing Container 2 -->
    <div class="category-container">
      <div class="title-header">
        <div class="heading-title">
          <h2 class="category-title">New release movies</h2>
        </div>
        <div class="see-more">
          <button class="see-more-btn" type="button" name="button">
            See more
          </button>
        </div>
      </div>

      <!-- Container Body -->
      <div class="listing-body">
        <!-- Card -->
        <div class="listing-card">
          <div class="listing-top"></div>
          <div class="listing-bottom">
            <a class="item-title">Monster Hunter</a>
            <p class="item-subtitle">Action & adventure</p>
            <div class="item-info">
              <div class="rating">
                <i class="star fas fa-star fa-xs"></i>
                <i class="star fas fa-star fa-xs"></i>
                <i class="star fas fa-star fa-xs"></i>
                <i class="star fas fa-star fa-xs"></i>
                <i class="star fas fa-star fa-xs"></i>
              </div>
              <div class="price">
                <p>LBP 6,000</p>
              </div>
            </div>
          </div>
        </div>
        <!-- Card -->
        <div class="listing-card">
          <div class="listing-top"></div>
          <div class="listing-bottom">
            <a class="item-title">Monster Hunter</a>
            <p class="item-subtitle">Action & adventure</p>
            <div class="item-info">
              <div class="rating">
                <i class="star fas fa-star fa-xs"></i>
                <i class="star fas fa-star fa-xs"></i>
                <i class="star fas fa-star fa-xs"></i>
                <i class="star fas fa-star fa-xs"></i>
                <i class="star fas fa-star fa-xs"></i>
              </div>
              <div class="price">
                <p>LBP 6,000</p>
              </div>
            </div>
          </div>
        </div>
        <!-- Card -->
        <div class="listing-card">
          <div class="listing-top"></div>
          <div class="listing-bottom">
            <a class="item-title">Monster Hunter</a>
            <p class="item-subtitle">Action & adventure</p>
            <div class="item-info">
              <div class="rating">
                <i class="star fas fa-star fa-xs"></i>
                <i class="star fas fa-star fa-xs"></i>
                <i class="star fas fa-star fa-xs"></i>
                <i class="star fas fa-star fa-xs"></i>
                <i class="star fas fa-star fa-xs"></i>
              </div>
              <div class="price">
                <p>LBP 6,000</p>
              </div>
            </div>
          </div>
        </div>
        <!-- Card -->
        <div class="listing-card">
          <div class="listing-top"></div>
          <div class="listing-bottom">
            <a class="item-title">Monster Hunter</a>
            <p class="item-subtitle">Action & adventure</p>
            <div class="item-info">
              <div class="rating">
                <i class="star fas fa-star fa-xs"></i>
                <i class="star fas fa-star fa-xs"></i>
                <i class="star fas fa-star fa-xs"></i>
                <i class="star fas fa-star fa-xs"></i>
                <i class="star fas fa-star fa-xs"></i>
              </div>
              <div class="price">
                <p>LBP 6,000</p>
              </div>
            </div>
          </div>
        </div>
        <!-- Card -->
        <div class="listing-card card-5">
          <div class="listing-top"></div>
          <div class="listing-bottom">
            <a class="item-title">Monster Hunter</a>
            <p class="item-subtitle">Action & adventure</p>
            <div class="item-info">
              <div class="rating">
                <i class="star fas fa-star fa-xs"></i>
                <i class="star fas fa-star fa-xs"></i>
                <i class="star fas fa-star fa-xs"></i>
                <i class="star fas fa-star fa-xs"></i>
                <i class="star fas fa-star fa-xs"></i>
              </div>
              <div class="price">
                <p>LBP 6,000</p>
              </div>
            </div>
          </div>
        </div>
        <!-- Card -->
        <div class="listing-card card-6">
          <div class="listing-top"></div>
          <div class="listing-bottom">
            <a class="item-title">Monster Hunter</a>
            <p class="item-subtitle">Action & adventure</p>
            <div class="item-info">
              <div class="rating">
                <i class="star fas fa-star fa-xs"></i>
                <i class="star fas fa-star fa-xs"></i>
                <i class="star fas fa-star fa-xs"></i>
                <i class="star fas fa-star fa-xs"></i>
                <i class="star fas fa-star fa-xs"></i>
              </div>
              <div class="price">
                <p>LBP 6,000</p>
              </div>
            </div>
          </div>
        </div>
        <!-- Card -->
        <div class="listing-card card-7">
          <div class="listing-top"></div>
          <div class="listing-bottom">
            <a class="item-title">Monster Hunter</a>
            <p class="item-subtitle">Action & adventure</p>
            <div class="item-info">
              <div class="rating">
                <i class="star fas fa-star fa-xs"></i>
                <i class="star fas fa-star fa-xs"></i>
                <i class="star fas fa-star fa-xs"></i>
                <i class="star fas fa-star fa-xs"></i>
                <i class="star fas fa-star fa-xs"></i>
              </div>
              <div class="price">
                <p>LBP 6,000</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Listing Container 3 -->
    <div class="category-container">
      <div class="title-header">
        <div class="heading-title">
          <h2 class="category-title">Movies recommended for you</h2>
        </div>
        <div class="see-more">
          <button class="see-more-btn" type="button" name="button">
            See more
          </button>
        </div>
      </div>

      <!-- Container Body -->
      <div class="listing-body">
        <!-- Card -->
        <div class="listing-card">
          <div class="listing-top"></div>
          <div class="listing-bottom">
            <a class="item-title">Monster Hunter</a>
            <p class="item-subtitle">Action & adventure</p>
            <div class="item-info">
              <div class="rating">
                <i class="star fas fa-star fa-xs"></i>
                <i class="star fas fa-star fa-xs"></i>
                <i class="star fas fa-star fa-xs"></i>
                <i class="star fas fa-star fa-xs"></i>
                <i class="star fas fa-star fa-xs"></i>
              </div>
              <div class="price">
                <p>LBP 6,000</p>
              </div>
            </div>
          </div>
        </div>
        <!-- Card -->
        <div class="listing-card">
          <div class="listing-top"></div>
          <div class="listing-bottom">
            <a class="item-title">Monster Hunter</a>
            <p class="item-subtitle">Action & adventure</p>
            <div class="item-info">
              <div class="rating">
                <i class="star fas fa-star fa-xs"></i>
                <i class="star fas fa-star fa-xs"></i>
                <i class="star fas fa-star fa-xs"></i>
                <i class="star fas fa-star fa-xs"></i>
                <i class="star fas fa-star fa-xs"></i>
              </div>
              <div class="price">
                <p>LBP 6,000</p>
              </div>
            </div>
          </div>
        </div>
        <!-- Card -->
        <div class="listing-card">
          <div class="listing-top"></div>
          <div class="listing-bottom">
            <a class="item-title">Monster Hunter</a>
            <p class="item-subtitle">Action & adventure</p>
            <div class="item-info">
              <div class="rating">
                <i class="star fas fa-star fa-xs"></i>
                <i class="star fas fa-star fa-xs"></i>
                <i class="star fas fa-star fa-xs"></i>
                <i class="star fas fa-star fa-xs"></i>
                <i class="star fas fa-star fa-xs"></i>
              </div>
              <div class="price">
                <p>LBP 6,000</p>
              </div>
            </div>
          </div>
        </div>
        <!-- Card -->
        <div class="listing-card">
          <div class="listing-top"></div>
          <div class="listing-bottom">
            <a class="item-title">Monster Hunter</a>
            <p class="item-subtitle">Action & adventure</p>
            <div class="item-info">
              <div class="rating">
                <i class="star fas fa-star fa-xs"></i>
                <i class="star fas fa-star fa-xs"></i>
                <i class="star fas fa-star fa-xs"></i>
                <i class="star fas fa-star fa-xs"></i>
                <i class="star fas fa-star fa-xs"></i>
              </div>
              <div class="price">
                <p>LBP 6,000</p>
              </div>
            </div>
          </div>
        </div>
        <!-- Card -->
        <div class="listing-card card-5">
          <div class="listing-top"></div>
          <div class="listing-bottom">
            <a class="item-title">Monster Hunter</a>
            <p class="item-subtitle">Action & adventure</p>
            <div class="item-info">
              <div class="rating">
                <i class="star fas fa-star fa-xs"></i>
                <i class="star fas fa-star fa-xs"></i>
                <i class="star fas fa-star fa-xs"></i>
                <i class="star fas fa-star fa-xs"></i>
                <i class="star fas fa-star fa-xs"></i>
              </div>
              <div class="price">
                <p>LBP 6,000</p>
              </div>
            </div>
          </div>
        </div>
        <!-- Card -->
        <div class="listing-card card-6">
          <div class="listing-top"></div>
          <div class="listing-bottom">
            <a class="item-title">Monster Hunter</a>
            <p class="item-subtitle">Action & adventure</p>
            <div class="item-info">
              <div class="rating">
                <i class="star fas fa-star fa-xs"></i>
                <i class="star fas fa-star fa-xs"></i>
                <i class="star fas fa-star fa-xs"></i>
                <i class="star fas fa-star fa-xs"></i>
                <i class="star fas fa-star fa-xs"></i>
              </div>
              <div class="price">
                <p>LBP 6,000</p>
              </div>
            </div>
          </div>
        </div>
        <!-- Card -->
        <div class="listing-card card-7">
          <div class="listing-top"></div>
          <div class="listing-bottom">
            <a class="item-title">Monster Hunter</a>
            <p class="item-subtitle">Action & adventure</p>
            <div class="item-info">
              <div class="rating">
                <i class="star fas fa-star fa-xs"></i>
                <i class="star fas fa-star fa-xs"></i>
                <i class="star fas fa-star fa-xs"></i>
                <i class="star fas fa-star fa-xs"></i>
                <i class="star fas fa-star fa-xs"></i>
              </div>
              <div class="price">
                <p>LBP 6,000</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Listing Container 4 -->
    <div class="category-container">
      <div class="title-header">
        <div class="heading-title">
          <h2 class="category-title">Top Action & Adventure</h2>
        </div>
        <div class="see-more">
          <button class="see-more-btn" type="button" name="button">
            See more
          </button>
        </div>
      </div>

      <!-- Container Body -->
      <div class="listing-body">
        <!-- Card -->
        <div class="listing-card">
          <div class="listing-top"></div>
          <div class="listing-bottom">
            <a class="item-title">Monster Hunter</a>
            <p class="item-subtitle">Action & adventure</p>
            <div class="item-info">
              <div class="rating">
                <i class="star fas fa-star fa-xs"></i>
                <i class="star fas fa-star fa-xs"></i>
                <i class="star fas fa-star fa-xs"></i>
                <i class="star fas fa-star fa-xs"></i>
                <i class="star fas fa-star fa-xs"></i>
              </div>
              <div class="price">
                <p>LBP 6,000</p>
              </div>
            </div>
          </div>
        </div>
        <!-- Card -->
        <div class="listing-card">
          <div class="listing-top"></div>
          <div class="listing-bottom">
            <a class="item-title">Monster Hunter</a>
            <p class="item-subtitle">Action & adventure</p>
            <div class="item-info">
              <div class="rating">
                <i class="star fas fa-star fa-xs"></i>
                <i class="star fas fa-star fa-xs"></i>
                <i class="star fas fa-star fa-xs"></i>
                <i class="star fas fa-star fa-xs"></i>
                <i class="star fas fa-star fa-xs"></i>
              </div>
              <div class="price">
                <p>LBP 6,000</p>
              </div>
            </div>
          </div>
        </div>
        <!-- Card -->
        <div class="listing-card">
          <div class="listing-top"></div>
          <div class="listing-bottom">
            <a class="item-title">Monster Hunter</a>
            <p class="item-subtitle">Action & adventure</p>
            <div class="item-info">
              <div class="rating">
                <i class="star fas fa-star fa-xs"></i>
                <i class="star fas fa-star fa-xs"></i>
                <i class="star fas fa-star fa-xs"></i>
                <i class="star fas fa-star fa-xs"></i>
                <i class="star fas fa-star fa-xs"></i>
              </div>
              <div class="price">
                <p>LBP 6,000</p>
              </div>
            </div>
          </div>
        </div>
        <!-- Card -->
        <div class="listing-card">
          <div class="listing-top"></div>
          <div class="listing-bottom">
            <a class="item-title">Monster Hunter</a>
            <p class="item-subtitle">Action & adventure</p>
            <div class="item-info">
              <div class="rating">
                <i class="star fas fa-star fa-xs"></i>
                <i class="star fas fa-star fa-xs"></i>
                <i class="star fas fa-star fa-xs"></i>
                <i class="star fas fa-star fa-xs"></i>
                <i class="star fas fa-star fa-xs"></i>
              </div>
              <div class="price">
                <p>LBP 6,000</p>
              </div>
            </div>
          </div>
        </div>
        <!-- Card -->
        <div class="listing-card card-5">
          <div class="listing-top"></div>
          <div class="listing-bottom">
            <a class="item-title">Monster Hunter</a>
            <p class="item-subtitle">Action & adventure</p>
            <div class="item-info">
              <div class="rating">
                <i class="star fas fa-star fa-xs"></i>
                <i class="star fas fa-star fa-xs"></i>
                <i class="star fas fa-star fa-xs"></i>
                <i class="star fas fa-star fa-xs"></i>
                <i class="star fas fa-star fa-xs"></i>
              </div>
              <div class="price">
                <p>LBP 6,000</p>
              </div>
            </div>
          </div>
        </div>
        <!-- Card -->
        <div class="listing-card card-6">
          <div class="listing-top"></div>
          <div class="listing-bottom">
            <a class="item-title">Monster Hunter</a>
            <p class="item-subtitle">Action & adventure</p>
            <div class="item-info">
              <div class="rating">
                <i class="star fas fa-star fa-xs"></i>
                <i class="star fas fa-star fa-xs"></i>
                <i class="star fas fa-star fa-xs"></i>
                <i class="star fas fa-star fa-xs"></i>
                <i class="star fas fa-star fa-xs"></i>
              </div>
              <div class="price">
                <p>LBP 6,000</p>
              </div>
            </div>
          </div>
        </div>
        <!-- Card -->
        <div class="listing-card card-7">
          <div class="listing-top"></div>
          <div class="listing-bottom">
            <a class="item-title">Monster Hunter</a>
            <p class="item-subtitle">Action & adventure</p>
            <div class="item-info">
              <div class="rating">
                <i class="star fas fa-star fa-xs"></i>
                <i class="star fas fa-star fa-xs"></i>
                <i class="star fas fa-star fa-xs"></i>
                <i class="star fas fa-star fa-xs"></i>
                <i class="star fas fa-star fa-xs"></i>
              </div>
              <div class="price">
                <p>LBP 6,000</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
