<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Android Apps on Google Play</title>
  <!-- Fontawesome -->
  <script src="https://kit.fontawesome.com/fad6e48f21.js" crossorigin="anonymous"></script>

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap" rel="stylesheet">

  <!-- CSS Stylesheets -->
  <link rel="stylesheet" href="../css/reviewlists.css">
</head>

<body>
  <!-- Listing Container 1 -->
  <div class="category-container first-container">
    <div class="title-header">
      <div class="heading-title">
        <h2 class="category-title">New and Updated games</h2>
      </div>
    </div>

    <!-- Container Body -->
    <div class="listing-body">
      <!-- Card -->
      <div class="listing-card">
        <div class="listing-top">
        </div>
        <div class="listing-bottom">
          <a class="item-title">Monster Hunter</a>
          <p class="item-subtitle">Action & adventure</p>
          <div class="item-info">
            <div class="rating">
              <i class="star fas fa-star fa-xs"></i>
              <i class="star fas fa-star fa-xs"></i>
              <i class="star fas fa-star fa-xs"></i>
              <i class="star fas fa-star fa-xs"></i>
              <i class="star fas fa-star fa-xs"></i>
            </div>
            <div class="price">
              <p>LBP 6,000</p>
            </div>
          </div>
        </div>
      </div>
      <!-- Card -->
      <div class="listing-card">
        <div class="listing-top">
        </div>
        <div class="listing-bottom">
          <a class="item-title">Monster Hunter</a>
          <p class="item-subtitle">Action & adventure</p>
          <div class="item-info">
            <div class="rating">
              <i class="star fas fa-star fa-xs"></i>
              <i class="star fas fa-star fa-xs"></i>
              <i class="star fas fa-star fa-xs"></i>
              <i class="star fas fa-star fa-xs"></i>
              <i class="star fas fa-star fa-xs"></i>
            </div>
            <div class="price">
              <p>LBP 6,000</p>
            </div>
          </div>
        </div>
      </div>
      <!-- Card -->
      <div class="listing-card">
        <div class="listing-top">
        </div>
        <div class="listing-bottom">
          <a class="item-title">Monster Hunter</a>
          <p class="item-subtitle">Action & adventure</p>
          <div class="item-info">
            <div class="rating">
              <i class="star fas fa-star fa-xs"></i>
              <i class="star fas fa-star fa-xs"></i>
              <i class="star fas fa-star fa-xs"></i>
              <i class="star fas fa-star fa-xs"></i>
              <i class="star fas fa-star fa-xs"></i>
            </div>
            <div class="price">
              <p>LBP 6,000</p>
            </div>
          </div>
        </div>
      </div>
      <!-- Card -->
      <div class="listing-card">
        <div class="listing-top">
        </div>
        <div class="listing-bottom">
          <a class="item-title">Monster Hunter</a>
          <p class="item-subtitle">Action & adventure</p>
          <div class="item-info">
            <div class="rating">
              <i class="star fas fa-star fa-xs"></i>
              <i class="star fas fa-star fa-xs"></i>
              <i class="star fas fa-star fa-xs"></i>
              <i class="star fas fa-star fa-xs"></i>
              <i class="star fas fa-star fa-xs"></i>
            </div>
            <div class="price">
              <p>LBP 6,000</p>
            </div>
          </div>
        </div>
      </div>
      <!-- Card -->
      <div class="listing-card">
        <div class="listing-top">
        </div>
        <div class="listing-bottom">
          <a class="item-title">Monster Hunter</a>
          <p class="item-subtitle">Action & adventure</p>
          <div class="item-info">
            <div class="rating">
              <i class="star fas fa-star fa-xs"></i>
              <i class="star fas fa-star fa-xs"></i>
              <i class="star fas fa-star fa-xs"></i>
              <i class="star fas fa-star fa-xs"></i>
              <i class="star fas fa-star fa-xs"></i>
            </div>
            <div class="price">
              <p>LBP 6,000</p>
            </div>
          </div>
        </div>
      </div>
      <!-- Card -->
      <div class="listing-card">
        <div class="listing-top">
        </div>
        <div class="listing-bottom">
          <a class="item-title">Monster Hunter</a>
          <p class="item-subtitle">Action & adventure</p>
          <div class="item-info">
            <div class="rating">
              <i class="star fas fa-star fa-xs"></i>
              <i class="star fas fa-star fa-xs"></i>
              <i class="star fas fa-star fa-xs"></i>
              <i class="star fas fa-star fa-xs"></i>
              <i class="star fas fa-star fa-xs"></i>
            </div>
            <div class="price">
              <p>LBP 6,000</p>
            </div>
          </div>
        </div>
      </div>
      <!-- Card -->
      <div class="listing-card">
        <div class="listing-top">
        </div>
        <div class="listing-bottom">
          <a class="item-title">Monster Hunter</a>
          <p class="item-subtitle">Action & adventure</p>
          <div class="item-info">
            <div class="rating">
              <i class="star fas fa-star fa-xs"></i>
              <i class="star fas fa-star fa-xs"></i>
              <i class="star fas fa-star fa-xs"></i>
              <i class="star fas fa-star fa-xs"></i>
              <i class="star fas fa-star fa-xs"></i>
            </div>
            <div class="price">
              <p>LBP 6,000</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>