body {
  font-family: 'Roboto', sans-serif;
}

/* Listing */
.category-container {
  width: 680px;
  padding-bottom: 20px;
  margin: auto auto auto 248px;
}

.first-container {
  margin: 15px auto auto 248px;
}

.category-title {
  font-weight: 400;
}

.title-header {
  display: flex;
  flex-direction: row;
}

.see-more {
  margin: auto 5px auto auto;
}

.heading-title {
  margin-right: auto;
  font-size: 18px;
  font-weight: 400;
}

.see-more-btn {
  background-color: #FF4D4D;
  color: white;
  border: none;
  height: 30px;
  padding: 0 12px;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 500;
}

.listing-body {
  display: flex;
  flex-direction: row;
}

.listing-body-seemore {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.listing-card {
  display: block;
  margin: 5px 5px;
  box-shadow:
    0 1px 1px rgba(0, 0, 0, 0.11),
    0 2px 2px rgba(0, 0, 0, 0.11),
    0 4px 4px rgba(0, 0, 0, 0.11);
}

.listing-top {
  height: 230px;
  width: 160px;
  background-color: #919191;
  background-size: cover;
}

.listing-bottom {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  display: flex;
  flex-direction: column;
  padding: 10px 10px 0 10px;
  box-sizing: border-box;
  height: 100px;
  width: 160px;
}

.item-title {
  font-size: 16px;
  color: #5D5D5D;
}

.item-subtitle {
  margin: 2px 0;
  font-size: 12px;
  color: #919191;
}

.rating {
  display: flex;
  margin: auto auto auto 0;
  font-size: 12px;
}

.star {
  margin: 2px;
}

.price {
  font-size: 12px;
  color: #a52714;
}

.item-info {
  margin-top: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* Cards */
.card-5 {
  display: none;
}

.card-6 {
  display: none;
}

.card-7 {
  display: none;
}

@media (min-width: 1108px) {
  .card-5 {
    display: block;
  }

  .category-container {
    width: 850px;
  }
}

@media (min-width: 1278px) {
  .card-6 {
    display: block;
  }

  .category-container {
    width: 1020px;
  }
}

@media (min-width: 1448px) {
  .card-7 {
    display: block;
  }

  .category-container {
    width: 1190px;
  }
}
