footer {
  height: 1px;
  text-align: center;
  font-size: 14px;
  width: 100%;
}

.footer_cont {
  padding: 28px 5px;
  margin: auto;
}

.footer_cont>a {
  color: #15c;
  margin-left: 5px;
  margin-right: 5px;
}

.footer_cont>a:hover {
  text-decoration: underline;
}

.separator {
  margin: 0 3px;
}
